/* styles.css */


/*TODO root ?*/
.root{
    /*-fx-background-color: #65E184;*/
    -fx-background-color: #4CAF50; /* Vert pour indiquer un état de succès */
    -fx-border-color: #388E3C; /* Couleur de la bordure */
    -fx-border-radius: 20px; /* Rayon de la bordure */
    -fx-border-width: 2px; /* Largeur de la bordure */
    -fx-padding: 10px; /* Espace intérieur de la notification */
    -fx-text-fill: white; /* Couleur du texte */
    -fx-font-size: 14px; /* Taille de la police */
}

/* Styles pour la classe custom-vbox 

.custom-vbox {
   
    -fx-background-color: #65E184;
    -fx-padding: 10px;
    -fx-border-color: #388E3C; 
    -fx-border-radius: 20px; 
    
}


*/







.alert {
    -fx-background-color: #F5F5F5; /* Couleur de fond */
    -fx-text-fill: #333333; /* Couleur du texte */
}

.alert .dialog-pane {
    -fx-background-color: #FFFFFF; /* Couleur du panneau de dialogue */
    -fx-border-color: #CCCCCC; /* Couleur de la bordure */
    -fx-border-width: 2px; /* Épaisseur de la bordure */
}

.alert .header-panel {
    -fx-background-color: #CCCCCC; /* Couleur de l'en-tête */
}

.alert .content {
    -fx-font-size: 14px; /* Taille de la police du contenu */
}






.BouttonMenu {

    -fx-background-color: #737373;

    /* -fx-border-radius: 200px; */

    -fx-background-radius: 50px;/* Angles arrondis */

    -fx-text-fill: white;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 0);
}


.BouttonQuitter {
    /* Votre style initial */
    -fx-background-color: #F28444;
    -fx-background-radius: 50px;
    -fx-text-fill: white;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 15, 0, 0, 0); /* Augmentation de la taille de l'ombre */
}

.BouttonQuitter:hover {
    /* Style au survol */
    -fx-background-color: #E05C2E; /* Changement de couleur au survol */
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 20, 0, 0, 0); /* Ombre plus prononcée au survol */
}

.Boutton{

    -fx-background-color: #7681EA;
    -fx-font-size: 20px;
    -fx-background-radius: 50px;
    -fx-text-fill: black;
    /*-fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 0);*/
}

.Boutton:hover{

    -fx-background-color: #5D68CC ;
    -fx-font-size: 20px;
    -fx-background-radius: 50px;
    -fx-text-fill: black;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8),20, 0, 0, 0);
}


.WhoIam {
    -fx-background-color: #737373;
    -fx-background-radius: 20px;
    -fx-text-fill: white;
    -fx-alignment: center;

}

.barreTitre{
    -fx-background-color: #F28444;
}


.barreLatterale{
    -fx-background-color: #262626;
}


.userPane{
    -fx-background-color: #737373;
    -fx-background-radius: 70px;
}


.titreApli{
    -fx-text-fill: black;
    -fx-font-weight: bold; /* Texte en gras */
    -fx-text-transform: uppercase; /* Texte en majuscules */
}


.textBlanc{
    -fx-text-fill: white;
    
}


/* styles.css */
.textTaille10 {
    -fx-font-size: 10px; /* Remplacez 16px par la taille souhaitée en pixels */
}


.textTaille20 {
    -fx-font-size: 20px; /* Remplacez 16px par la taille souhaitée en pixels */
}



.textTaille30 {
    -fx-font-size: 30px; /* Remplacez 16px par la taille souhaitée en pixels */
}


.StyleBox{
    -fx-background-color: #b8b8b8;
    -fx-background-radius: 10px;
    -fx-alignment: center;

}

/* Style initial (mode clair) */
/*
.glass-grey {
    
    -fx-background-color: 
        #737373,
        linear-gradient(#d6d6d6 50%, white 100%),
        radial-gradient(center 50% -40%, radius 200%, #e6e6e6 45%, rgba(230,230,230,0) 50%);
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,1;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
}*/

.glass-grey {
    /* Style au survol (mode sombre) */
    -fx-background-color: 
        #878787, /* Un gris clair */
        linear-gradient(#6F6F6F 50%, #878787 100%), /* Un gris clair */
        radial-gradient(center 50% -40%, radius 200%, #878787 45%, rgba(135,135,135,0) 50%); /* Un gris clair */
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,1;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
}

.glass-grey:hover {
    /* Style au survol (mode sombre, plus foncé) */
    -fx-background-color: 
        #5F5F5F, /* Un gris encore plus foncé */
        linear-gradient(#4F4F4F 50%, #5F5F5F 100%), /* Un gris encore plus foncé */
        radial-gradient(center 50% -40%, radius 200%, #5F5F5F 45%, rgba(95,95,95,0) 50%); /* Un gris encore plus foncé */
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,1;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
}




* {
	-fx-darkest-grey-color: #323232;
}

.check-box .box {
	-fx-background-color: white;
	-fx-border-color: -fx-darkest-grey-color;
	-fx-border-radius: 0; 
}
.check-box .mark {
 	-fx-shape: "M1.73,12.91 8.1,19.28 22.79,4.59 22.79,1.59 8.1,16.28 1.73,9.91";
}
.check-box:selected .mark {
	-fx-background-color: white;
}
.check-box:selected .box {
	-fx-background-color: -fx-darkest-grey-color;
}
